# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/autom4te.cache
/config.h
/config.log
/config.status
/stamp-h1

Makefile
.deps
.libs
*.o
*.a
.dirstamp
.vscode
benchmark*
example-*
evad
*.csv
*.csv#
README.html
configure~
hello
Hello
hello.bc
